/** color
 * https://color.adobe.com/create/color-wheel/?base=1&rule=Triad&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.3777157360406091,0.5683627654250581,0.7,0.6395939086294415,0.8527918781726119,1,1,0.6440848843767284,0.6395939086294415,0.8,0.7982219664802797,0.43167512690355325,0.7,0.6986131779623956,0.4127157360406091&swatchOrder=0,1,2,3,4
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #202020;
    font-size: 13px;
}

.scroll-section {
    height: 100%;
    position: absolute;
}

#content {
    width: 100%;
}

section {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
}

nav {
    padding: 0 2rem;
    overflow: auto;
}

nav img {
    margin-top: 20px;
}

.nav-section {
    margin-top: 0px;
}

nav .package {
    padding-bottom: 20px;
}

#viewerDiv {
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#miniDiv {
    display: block;
    position: absolute;
    width:100px;
    height:100px;
    left: 20;
    bottom: 20;
    color: white;
}

#divScaleWidget {
    display: block;
    position: absolute;
    right: 20;
    bottom: 20;
    border: 2px solid black;
    border-top: none;
    text-align: center;
    display: block;
    background-image: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3));
    width:200px;
    height:18px;
    color: black;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 16px;
}
